@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Black.woff2') format('woff2'),
        url('Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold.woff2') format('woff2'),
        url('Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBoldItalic.woff2') format('woff2'),
        url('Inter-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-BoldItalic.woff2') format('woff2'),
        url('Inter-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-BlackItalic.woff2') format('woff2'),
        url('Inter-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Light.woff2') format('woff2'),
        url('Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLight.woff2') format('woff2'),
        url('Inter-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-LightItalic.woff2') format('woff2'),
        url('Inter-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Italic.woff2') format('woff2'),
        url('Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLightItalic.woff2') format('woff2'),
        url('Inter-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Thin.woff2') format('woff2'),
        url('Inter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ThinItalic.woff2') format('woff2'),
        url('Inter-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBoldItalic.woff2') format('woff2'),
        url('Inter-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-MediumItalic.woff2') format('woff2'),
        url('Inter-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter V';
    src: url('InterV.woff2') format('woff2'),
        url('InterV.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red;  */
}

body {
    font-family: 'Inter';
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    position: relative; 
    z-index: 10;
    background-color: #f8fafc;
    grid-column: 2/5;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px #cbd5e1 ;
    
}

.top {
    grid-row: 1/2;
    display: grid;
    grid-auto-flow: column;
}

.search {
    display: flex; 
    align-items: center; 
    gap: 8px;
    padding: 4px;
  }
  
  .search-label {
    width: 24px;
    height: 24px;
  }
  .search-icon {
    width: 100%; 
    height: 100%;
    fill: #334155;
  }
  
  .search-input {
    flex: 1; 
    padding: 8px 16px; 
    font-size: 14px;
    background-color: #cbd5e1;
    border-radius: 50px;
    border: none;
  }

  .right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 15px;
    padding-right: 30px;

}
  
.notification {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: end;
    align-items: center;
}

.notification-icon {
    width: 100%;
    height: 100%;
    fill: #334155;
}
.avatar-username {
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #0f172a;
}

.avatar {
    height: 42px;
    width: 42px;
    border-radius: 50px;
    overflow: hidden;
}

.user-avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    grid-row: 2/3;
    display: grid;
    grid-auto-flow: column;
}
.welcome-message {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #0f172a;
}

.large-avatar {
    width: 68px;
    height: 68px;
    border-radius: 50px;
    overflow: hidden;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
}
.welcome-text .welcome {
    font-size: 14px;
    font-weight: 600;
} 

.welcome-text .username {
    font-size: 20px;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.button {
    width: 100px;
    height: 38px;
    border: none;
    color: #e2e8f0;
    background-color: #334155;
    padding: 8px 24px;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 600;
}


.sidebar {
    background-color: #1e293b;
    grid-column: 1/2;
    grid-row: 1/5;
    display: grid;
    grid-template-rows: 1fr 6fr;
    padding: 0px 10px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    align-content: start;
}

.icon {
    width: 48px;
    height: 48px;
}

.dashboard-icon {
    fill: #ea580c;
}

.logo .text {
    flex: 1;
    display: flex;
    align-items: center;
    height: 32px;
    font-weight: 600;
    font-size: 26px;
    color: #ea580c;
}

.nav-items {
    display: grid;
    gap: 48px;
    align-content: start;
}

.main, .sub {
   display: grid;
   grid-template-rows: repeat(6, 1fr);
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    align-self: start;
}

.nav-icon {
    width: 28px;
    height: 28px;
    fill: #cbd5e1;
}



.nav-item p {
    flex: 1;
    display: flex;
    align-items: center;
    height: 32px;
    font-weight: 600;
    font-size: 18px;
    color: #cbd5e1;
}

.main-content {
    padding: 32px 20px;
    background-color: #e2e8f0;
    grid-column: 2/5;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.content-title {
    font-weight: 600;
    font-size: 16px;
    color: #0f172a;
}

.left-main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    gap: 32px;
}

.project-card {
    background-color: #f8fafc;
    display: flex;
    flex-direction: column ;
    padding: 30px 30px;
    height: 150px;
    justify-content: space-between;
    border-radius: 10px;
    border-left: 10px solid #ea580c;
    box-shadow: 3px 3px 5px #cbd5e1;
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-text .title {
    font-weight: 700;
    font-size: 16px;
    color: #0f172a;
}

.project-text .description {
    font-weight: 400;
    font-size: 14px;
    color: #64748b;
}

.icons {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.card-icon {
    width: 20px;
    height: 20px;
}

.card-icon svg {
    fill: #334155;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.left-content, .announcements, .trending {
    display: flex;
    flex-direction: column;
    gap: 10px;
 
}

.hr-line {
    border: none; 
    height: 1px; 
    background-color: #e2e8f0; 
    width: 100%; 
    margin: 0; 
}

.announcement{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.announcement-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: #f8fafc;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #cbd5e1 ;
}

.announcement .announcement-header {
    font-weight: 700;
    font-size: 14px;
    color:  #0f172a;

}

.announcement .description {
    font-weight: 400;
    font-size: 13px;
    color: #64748b;

}
.trending-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8fafc;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #cbd5e1 ;
}
.trending-item {
    display: flex;
    padding: 10px;
    gap: 5px;
}

.trending-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.trending-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trending-user  {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trending-user .username {
    display: flex;
     justify-content: flex-start;
     font-weight: 500;
     font-size: 14px;
     color: #0f172a;
}

.trending-user .project {
    font-weight: 300;
    font-size: 13px;
    color: #64748b;
}

